html, body, canvas {
  padding: 0;
  border: 0;
  margin: 0;
}

html, body {
  font-family: 'Orbitron';
  width: 100%;
  height: 100%;
  background-color: black;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  width: 500px;
  height: 500px;
  border: 2px solid white;
}

#username {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}

#username div {
  min-width: 400px;
  min-height: 400px;
  width: 20%;
  height: 20%;
  background-color: white;
}

#username form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#leaderboard {
  min-width: 250px;
  min-height: 500px;
  color: white;
  border: 2px solid white;
}

#leaderboard div {
  padding: 10px 0 10px 0;
  text-align: center;
  border-bottom: 1px solid white;
}